<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p>
  <% if Rails.env.development? %>
    <%= link_to "Change my password", "https://634779f9ed3f.ngrok.app/password_redirect_to_app/#{@token}" %>
  <% else %>
    <%= link_to "Change my password", password_redirect_to_app_url(@token) %>
  <% end %>
</p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
