<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% if Rails.env.development? %>
  
  <p>
    <%# TODO: Figure out how to send a deep link here %>
    exp+idid://expo-development-client/?url=http%3A%2F%2Fidid.ngrok.io/--/reset-password?token=Nok67iVFFaq-A4FVHWXF
  </p>
<% else %>
  <p><a href="<%= "idid://reset-password?token=#{@token}" %>">Change my password</a></p>
<% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
