<!DOCTYPE html>
<html>
<head>
  <title>My Application</title>
  <!-- Add your CSS and JavaScript includes here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <!-- Add your header, navigation, and content here -->
  <%= yield %>
  <!-- Add your footer here -->
</body>
</html>
